Repository tensorflow/docs-l10n, changes with the labels that .github/labeler.yml gives for each.
All labels: ar, el, es-419, fr, id, it, ja, ko, pt-br, ru, tr, vi, zh-cn

Update translation and format notebook
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: vi

Update URL in Colab/Github/Download button
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: vi

Format notebook with nbfmt
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: vi

Added words: bazel macro, bazel testing, multithread, mutex, postsubmit, presubmit, tag, testing, thread, timeout, underfit
  site/it/README.md
Labels: it

Basic translation
  site/it/community/contribute/tests.md
Labels: it

Revert "Added words: bazel macro, bazel testing, multithread, mutex, postsubmit, presubmit, tag, testing, thread, timeout, underfit"
  site/it/README.md
Labels: it

Added words: bazel macro, bazel test, multithread, mutex, postsubmit, presubmit
  site/it/README.md
Labels: it

Added words: overfit, underfit
  site/it/README.md
Labels: it

Basic translation
  site/it/community/contribute/tests.md
Labels: it

Translating ./tutorials/text/word_embeddings.ipynb
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: vi

Format notebook with nbfmt
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: vi

Update translation and format notebook
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: vi

Update URL in Colab/Github/Download button
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: vi

Translate text.ipynb
  site/vi/tutorials/load_data/text.ipynb
Labels: vi

Update translation tutorials/load_data/text.ipynb
  site/vi/tutorials/load_data/text.ipynb
Labels: vi

Update supported tf.distribute.Strategy in Korean
  site/ko/guide/distributed_training.ipynb
Labels: ko

Apply suggestions from code review
  site/vi/tutorials/load_data/text.ipynb
Labels: vi

Add disclaimer
  site/vi/tutorials/load_data/text.ipynb
Labels: vi

Update disclaimer
  site/vi/tutorials/load_data/text.ipynb
Labels: vi

.github/labeler.yml:

# Language labels
ar:
- site/ar/**
el:
- site/el/**
es-419:
- site/es-419/**
fr:
- site/fr/**
id:
- site/id/**
it:
- site/it/**
ja:
- site/ja/**
ko:
- site/ko/**
pt-br:
- site/pt-br/**
ru:
- site/ru/**
tr:
- site/tr/**
vi:
- site/vi/**
zh-cn:
- site/zh-cn/**
