Repository tensorflow/docs-l10n, pull requests merged in 2020-06, with the labels that each got.

#232 JA: Add ja/lite/g3doc/performance/post_training_quantization.md
  site/ja/lite/performance/post_training_quantization.md
Labels: cla: yes, lgtm

#238 Update text_classification.ipynb
  site/ko/tutorials/keras/text_classification.ipynb
Labels: cla: yes, ko, lgtm, translation

#234 Update REVIEWERS
  site/zh-cn/REVIEWERS
Labels: cla: yes, lgtm

#12 Translation ru
  site/ru/tutorials/images/classification.ipynb
Labels: cla: yes, lgtm, ru, translation

#226 zh-CN: translate graphs.ipynb
  site/zh-cn/tensorboard/graphs.ipynb
Labels: cla: yes, lgtm

#244 Source snapshot: Tue Jun 2 13:43:08 PDT 2020
  site/en-snapshot/README.md
  site/en-snapshot/addons/tutorials/networks_seq2seq_nmt.ipynb
  site/en-snapshot/community/contribute/docs.md
  site/en-snapshot/guide/autodiff.ipynb
  site/en-snapshot/guide/concrete_function.ipynb
  site/en-snapshot/guide/function.ipynb
  site/en-snapshot/guide/keras/custom_layers_and_models.ipynb
  site/en-snapshot/guide/keras/save_and_serialize.ipynb
  site/en-snapshot/guide/keras/train_and_evaluate.ipynb
  site/en-snapshot/guide/migrate.ipynb
  site/en-snapshot/guide/profiler.md
  site/en-snapshot/guide/ragged_tensor.ipynb
  site/en-snapshot/guide/saved_model.ipynb
  site/en-snapshot/guide/tpu.ipynb
  site/en-snapshot/guide/variable.ipynb
  site/en-snapshot/js/tutorials/setup.md
  site/en-snapshot/lite/convert/python_api.md
  site/en-snapshot/lite/performance/hexagon_delegate.md
  site/en-snapshot/lite/performance/post_training_float16_quant.ipynb
  site/en-snapshot/lite/performance/post_training_integer_quant.ipynb
  site/en-snapshot/lite/performance/post_training_quant.ipynb
  site/en-snapshot/model_optimization/guide/pruning/comprehensive_guide.ipynb
  site/en-snapshot/model_optimization/guide/quantization/training.md
  site/en-snapshot/tfx/tutorials/data_validation/tfdv_basic.ipynb
  site/en-snapshot/tfx/tutorials/tfx/components_keras.ipynb
  site/en-snapshot/tfx/tutorials/transform/census.ipynb
  site/en-snapshot/tutorials/distribute/multi_worker_with_keras.ipynb
  site/en-snapshot/tutorials/generative/cvae.ipynb
  site/en-snapshot/tutorials/load_data/images.ipynb
  site/en-snapshot/tutorials/structured_data/time_series.ipynb
Labels: cla: yes, en-snapshot, translation

#248 enable mention_contributors_in_pull_requests for gitlocalize config
  .gitlocalize.yml
Labels: cla: yes, lgtm

#249 Source snapshot: Fri Jun 5 12:17:49 PDT 2020
  site/en-snapshot/README.md
  site/en-snapshot/agents/overview.md
  site/en-snapshot/agents/tutorials/0_intro_rl.ipynb
  site/en-snapshot/federated/tutorials/custom_federated_algorithms_1.ipynb
  site/en-snapshot/federated/tutorials/custom_federated_algorithms_2.ipynb
  site/en-snapshot/federated/tutorials/federated_learning_for_image_classification.ipynb
  site/en-snapshot/federated/tutorials/federated_learning_for_text_generation.ipynb
  site/en-snapshot/federated/tutorials/high_performance_simulation_with_kubernetes.ipynb
  site/en-snapshot/federated/tutorials/simulations.ipynb
  site/en-snapshot/hub/tf1_hub_module.md
  site/en-snapshot/lite/convert/cmdline.md
  site/en-snapshot/lite/convert/metadata.md
  site/en-snapshot/lite/convert/python_api.md
  site/en-snapshot/lite/convert/quantization.md
  site/en-snapshot/lite/guide/android.md
  site/en-snapshot/lite/guide/build_rpi.md
  site/en-snapshot/lite/guide/codegen.md
  site/en-snapshot/lite/guide/faq.md
  site/en-snapshot/lite/guide/get_started.md
  site/en-snapshot/lite/guide/inference.md
  site/en-snapshot/lite/guide/ios.md
  site/en-snapshot/lite/guide/ops_compatibility.md
  site/en-snapshot/lite/guide/ops_custom.md
  site/en-snapshot/lite/guide/ops_select.md
  site/en-snapshot/lite/guide/ops_version.md
  site/en-snapshot/lite/microcontrollers/get_started.md
  site/en-snapshot/lite/models/bert_qa/overview.md
  site/en-snapshot/lite/models/image_classification/overview.md
  site/en-snapshot/lite/models/object_detection/overview.md
  site/en-snapshot/lite/models/segmentation/overview.md
  site/en-snapshot/lite/models/text_classification/overview.md
  site/en-snapshot/lite/performance/benchmarks.md
  site/en-snapshot/lite/performance/best_practices.md
  site/en-snapshot/lite/performance/coreml_delegate.md
  site/en-snapshot/lite/performance/delegates.md
  site/en-snapshot/lite/performance/gpu.md
  site/en-snapshot/lite/performance/gpu_advanced.md
  site/en-snapshot/lite/performance/hexagon_delegate.md
  site/en-snapshot/lite/performance/model_optimization.md
  site/en-snapshot/lite/performance/nnapi.md
  site/en-snapshot/lite/performance/post_training_quantization.md
  site/en-snapshot/lite/performance/quantization_spec.md
  site/en-snapshot/model_optimization/guide/pruning/pruning_with_keras.ipynb
  site/en-snapshot/model_optimization/guide/quantization/training_example.ipynb
  site/en-snapshot/tfx/guide/bulkinferrer.md
  site/en-snapshot/tfx/guide/container_component.md
  site/en-snapshot/tfx/guide/pusher.md
  site/en-snapshot/tutorials/generative/cvae.ipynb
Labels: cla: yes, en-snapshot, lgtm, translation

#6 RU: Translation for guide/keras/functional.ipynb
  site/ru/guide/keras/functional.ipynb
Labels: cla: yes, lgtm, ru, translation

#240 zh-CN: translate tutorial/image/cnn.ipynb
  site/zh-cn/tutorials/images/cnn.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#251 [JA] Update tutorials/quickstart/beginner.ipynb
  site/ja/tutorials/quickstart/beginner.ipynb
Labels: cla: yes, ja, lgtm, translation

#254 Source snapshot: Fri Jun 12 12:18:08 PDT 2020
  site/en-snapshot/README.md
  site/en-snapshot/guide/autodiff.ipynb
  site/en-snapshot/guide/distributed_training.ipynb
  site/en-snapshot/guide/keras/train_and_evaluate.ipynb
  site/en-snapshot/guide/profiler.md
  site/en-snapshot/guide/versions.md
  site/en-snapshot/hub/tutorials/text_cookbook.md
  site/en-snapshot/lite/guide/android.md
  site/en-snapshot/lite/microcontrollers/build_convert.md
  site/en-snapshot/lite/microcontrollers/get_started.md
  site/en-snapshot/lite/microcontrollers/library.md
  site/en-snapshot/lite/performance/coreml_delegate.md
  site/en-snapshot/lite/performance/gpu.md
  site/en-snapshot/lite/performance/gpu_advanced.md
  site/en-snapshot/lite/performance/hexagon_delegate.md
  site/en-snapshot/neural_structured_learning/tutorials/graph_keras_lstm_imdb.ipynb
  site/en-snapshot/neural_structured_learning/tutorials/graph_keras_mlp_cora.ipynb
  site/en-snapshot/tfx/guide/build_tfx_pipeline.md
  site/en-snapshot/tfx/guide/bulkinferrer.md
  site/en-snapshot/tfx/guide/cli.md
  site/en-snapshot/tfx/guide/container_component.md
  site/en-snapshot/tfx/guide/custom_component.md
  site/en-snapshot/tfx/guide/custom_function_component.md
  site/en-snapshot/tfx/guide/understanding_custom_components.md
  site/en-snapshot/tfx/guide/understanding_tfx_pipelines.md
Labels: cla: yes, en-snapshot, lgtm, translation

#257 add a new reviewer
  site/zh-cn/REVIEWERS
Labels: cla: yes, lgtm, translation, zh-cn

#256 Add cell id checking to avoid runtime error
  tools/nb_code_sync.py
Labels: cla: yes, lgtm

#214 [it] community_contribute_docs_style.md Basic translation
  site/it/community/contribute/docs_style.md
Labels: cla: yes, it, lgtm, translation

#209 [it] community-contribute-docs.md Basic translation
  site/it/community/contribute/docs.md
Labels: cla: yes, it, lgtm, translation

#259 NUM_WORDS 10000 => 1000 due to memory limit
  site/ko/tutorials/keras/overfit_and_underfit.ipynb
Labels: cla: yes, ko, lgtm, translation

#263 Add nblint to GitHub Actions CI
  .github/workflows/ci.yaml
Labels: cla: yes, lgtm

#265 Source snapshot: Fri Jun 26 15:26:02 PDT 2020
  site/en-snapshot/README.md
  site/en-snapshot/agents/tutorials/0_intro_rl.ipynb
  site/en-snapshot/agents/tutorials/3_policies_tutorial.ipynb
  site/en-snapshot/datasets/splits.md
  site/en-snapshot/federated/tutorials/simulations.ipynb
  site/en-snapshot/guide/distributed_training.ipynb
  site/en-snapshot/guide/keras/custom_callback.ipynb
  site/en-snapshot/guide/keras/custom_layers_and_models.ipynb
  site/en-snapshot/guide/keras/customizing_what_happens_in_fit.ipynb
  site/en-snapshot/guide/keras/functional.ipynb
  site/en-snapshot/guide/keras/masking_and_padding.ipynb
  site/en-snapshot/guide/keras/rnn.ipynb
  site/en-snapshot/guide/keras/save_and_serialize.ipynb
  site/en-snapshot/guide/keras/train_and_evaluate.ipynb
  site/en-snapshot/guide/keras/writing_a_training_loop_from_scratch.ipynb
  site/en-snapshot/hub/common_issues.md
  site/en-snapshot/hub/tf2_saved_model.md
  site/en-snapshot/hub/tutorials/image_feature_vector.ipynb
  site/en-snapshot/hub/tutorials/object_detection.ipynb
  site/en-snapshot/hub/tutorials/spice.ipynb
  site/en-snapshot/lite/convert/metadata.md
  site/en-snapshot/lite/convert/operation_fusion.md
  site/en-snapshot/lite/convert/python_api.md
  site/en-snapshot/lite/convert/rnn.md
  site/en-snapshot/lite/guide/codegen.md
  site/en-snapshot/lite/guide/inference.md
  site/en-snapshot/lite/guide/lite_support.md
  site/en-snapshot/lite/guide/ops_compatibility.md
  site/en-snapshot/lite/guide/ops_select.md
  site/en-snapshot/lite/performance/post_training_float16_quant.ipynb
  site/en-snapshot/lite/performance/post_training_integer_quant.ipynb
  site/en-snapshot/lite/performance/post_training_quant.ipynb
  site/en-snapshot/lite/performance/post_training_quantization.md
  site/en-snapshot/lite/tutorials/model_maker_image_classification.ipynb
  site/en-snapshot/mlir/xla_gpu_codegen.md
  site/en-snapshot/swift/tutorials/introducing_x10.ipynb
  site/en-snapshot/tensorboard/dataframe_api.ipynb
  site/en-snapshot/tfx/guide/bulkinferrer.md
  site/en-snapshot/tfx/guide/custom_function_component.md
  site/en-snapshot/tfx/guide/trainer.md
  site/en-snapshot/tfx/guide/tuner.md
  site/en-snapshot/tfx/tutorials/tfx/cloud-ai-platform-pipelines.md
  site/en-snapshot/tfx/tutorials/tfx/template.ipynb
  site/en-snapshot/tfx/tutorials/tfx/template_beam.ipynb
  site/en-snapshot/tutorials/distribute/custom_training.ipynb
  site/en-snapshot/tutorials/distribute/multi_worker_with_keras.ipynb
  site/en-snapshot/tutorials/keras/text_classification_with_hub.ipynb
  site/en-snapshot/xla/tiled_layout.md
Labels: cla: yes, en-snapshot, lgtm, translation

#267 [ja] Fix bad char
  site/ja/guide/function.ipynb
Labels: cla: yes, ja, lgtm, translation

#268 Enable postprocess_jupyter_notebooks_with_nbfmt_py (GitLocalize config)
  .gitlocalize.yml
Labels: cla: yes, lgtm
