Repository tensorflow/docs-l10n, pull requests merged in 2020-05, with the labels that each got.

#102 [KO] Translation of keras_model_to_estimator.ipynb
  site/ko/tutorials/estimator/keras_model_to_estimator.ipynb
Labels: cla: yes, ko, lgtm, translation

#221 zh-cn: nb_code_sync tutorials/keras/text_classification_with_hub.ipynb
  site/zh-cn/tutorials/keras/text_classification_with_hub.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#220 [JA] Update site/ja/lite/convert/python_api.md
  site/ja/lite/convert/python_api.md
Labels: cla: yes, ja, lgtm, translation

#217 [JA] Update site/ja/tutorials/text/word_embeddings.ipynb
  site/ja/tutorials/text/word_embeddings.ipynb
Labels: cla: yes, ja, lgtm, translation

#212 zh-CN: Create scalars_and_keras.ipynb
  site/zh-cn/tensorboard/scalars_and_keras.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#180 JA: Add ja/lite/microcontrollers/library.md
  site/ja/lite/microcontrollers/library.md
Labels: cla: yes, ja, lgtm, translation

#222 [KO] Update style_transfer.ipynb
  site/ko/tutorials/generative/style_transfer.ipynb
Labels: cla: yes, ko, lgtm, translation

#227 snapshot-source script
  tools/snapshot-source.sh
Labels: cla: yes

#100 [KO] Translation of adversarial_fgsm.ipynb
  site/ko/tutorials/generative/adversarial_fgsm.ipynb
Labels: cla: yes, ko, translation

#235 Fix mktemp so it works on Linux and BSD
  tools/snapshot-source.sh
Labels: cla: yes

#236 Source snapshot: Wed 27 May 2020 01:42:00 PM PDT
  site/en-snapshot/README.md
  site/en-snapshot/addons/tutorials/average_optimizers_callback.ipynb
  site/en-snapshot/addons/tutorials/image_ops.ipynb
  site/en-snapshot/addons/tutorials/layers_normalizations.ipynb
  site/en-snapshot/addons/tutorials/layers_weightnormalization.ipynb
  site/en-snapshot/addons/tutorials/losses_triplet.ipynb
  site/en-snapshot/addons/tutorials/networks_seq2seq_nmt.ipynb
  site/en-snapshot/addons/tutorials/optimizers_conditionalgradient.ipynb
  site/en-snapshot/addons/tutorials/optimizers_lazyadam.ipynb
  site/en-snapshot/addons/tutorials/time_stopping.ipynb
  site/en-snapshot/addons/tutorials/tqdm_progress_bar.ipynb
  site/en-snapshot/federated/tff_for_research.md
  site/en-snapshot/guide/graph_optimization.ipynb
  site/en-snapshot/guide/ragged_tensor.ipynb
  site/en-snapshot/guide/tpu.ipynb
  site/en-snapshot/guide/variable.ipynb
  site/en-snapshot/guide/variable.md
  site/en-snapshot/hub/tutorials/action_recognition_with_tf_hub.ipynb
  site/en-snapshot/hub/tutorials/bigbigan_with_tf_hub.ipynb
  site/en-snapshot/hub/tutorials/biggan_generation_with_tf_hub.ipynb
  site/en-snapshot/hub/tutorials/image_feature_vector.ipynb
  site/en-snapshot/hub/tutorials/object_detection.ipynb
  site/en-snapshot/hub/tutorials/retrieval_with_tf_hub_universal_encoder_qa.ipynb
  site/en-snapshot/hub/tutorials/s3gan_generation_with_tf_hub.ipynb
  site/en-snapshot/hub/tutorials/semantic_approximate_nearest_neighbors.ipynb
  site/en-snapshot/hub/tutorials/text_classification_with_tf_hub_on_kaggle.ipynb
  site/en-snapshot/hub/tutorials/tf2_arbitrary_image_stylization.ipynb
  site/en-snapshot/hub/tutorials/tf2_image_retraining.ipynb
  site/en-snapshot/hub/tutorials/tf2_semantic_approximate_nearest_neighbors.ipynb
  site/en-snapshot/hub/tutorials/tf2_text_classification.ipynb
  site/en-snapshot/hub/tutorials/tf_hub_generative_image_module.ipynb
  site/en-snapshot/hub/tutorials/tweening_conv3d.ipynb
  site/en-snapshot/io/vscode.md
  site/en-snapshot/lite/convert/1x_compatibility.md
  site/en-snapshot/lite/guide/roadmap.md
  site/en-snapshot/lite/performance/coreml_delegate.md
  site/en-snapshot/lite/performance/model_optimization.md
  site/en-snapshot/lite/tutorials/model_maker_text_classification.ipynb
  site/en-snapshot/model_optimization/guide/install.md
  site/en-snapshot/quantum/tutorials/qcnn.ipynb
  site/en-snapshot/tfx/guide/train.md
  site/en-snapshot/tfx/tutorials/data_validation/tfdv_basic.ipynb
  site/en-snapshot/tfx/tutorials/tfx/components.ipynb
  site/en-snapshot/tfx/tutorials/tfx/components_keras.ipynb
  site/en-snapshot/tutorials/estimator/linear.ipynb
  site/en-snapshot/tutorials/text/transformer.ipynb
Labels: cla: yes, en-snapshot, translation

#237 Update REVIEWERS
  site/ru/REVIEWERS
Labels: cla: yes, lgtm, ru, translation
