Repository tensorflow/docs-l10n, pull requests merged in 2020-04, with the labels that each got.

#19 add keras/text_classification_with_hub.ipynb indonesian translation
  site/id/tutorials/keras/text_classification_with_hub.ipynb
Labels: cla: yes, id, lgtm, translation

#163 Close the div
  site/ar/tutorials/keras/classification.ipynb
Labels: ar, cla: yes, lgtm, translation

#153 [MRG][ar] Add arabic translation of tutorials/images/data_augmentation
  site/ar/tutorials/images/data_augmentation.ipynb
Labels: ar, cla: yes, lgtm, translation

#165 [MRG][ar] Improve ar/tutorials/keras/classification
  site/ar/tutorials/keras/classification.ipynb
Labels: ar, cla: yes, lgtm, translation

#175 Nicer errors in nb_code_sync
  tools/nb_code_sync.py
Labels: cla: yes

#177 [MRG][ar] Add README.md for Arabic translations
  site/ar/README.md
Labels: ar, cla: yes, lgtm, translation

#162 zh-CN: translate tbdev_getting_started.ipynb
  site/zh-cn/tensorboard/tbdev_getting_started.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#187 Update REVIEWERS
  site/ar/REVIEWERS
Labels: ar, cla: yes, lgtm, translation

#183 [zh-cn] Add js/guide/node_in_cloud.md
  site/zh-cn/js/guide/node_in_cloud.md
Labels: cla: yes, lgtm, translation, zh-cn

#178 JA: translation guide/create_op
  site/ja/guide/create_op.md
Labels: cla: yes, ja, lgtm, translation

#176 [JA] Update /site/ja/tutorials/load_data/csv.ipynb
  site/ja/tutorials/load_data/csv.ipynb
Labels: cla: yes, ja, lgtm, translation

#191 [KO] Update one word in gpu.ipynb
  site/ko/guide/gpu.ipynb
Labels: cla: yes, ko, lgtm, translation

#173 [it] README.md Added words
  site/it/README.md
Labels: cla: yes, it, lgtm, translation

#179 [it] community-contribute-code.md
  site/it/community/contribute/code.md
Labels: cla: yes, it, lgtm, translation

#188 [ar] Update link to website in tutorials/text/nmt_with_attention.ipynb
  site/ar/tutorials/text/nmt_with_attention.ipynb
Labels: ar, cla: yes, lgtm, translation

#186 [ar] Add instructions on how to join the community
  site/ar/README.md
Labels: ar, cla: yes, lgtm, translation

#14 Keras classification indonesian translation
  site/id/tutorials/keras/classification.ipynb
Labels: cla: yes, id, lgtm, translation

#197 [KO]: update site/ko/tutorials/distribute/save_and_load.ipynb
  site/ko/tutorials/keras/text_classification_with_hub.ipynb
Labels: cla: yes, ko, lgtm, translation

#193 [JA] Update site/ja/tutorials/keras/save_and_load.ipynb
  site/ja/tutorials/keras/save_and_load.ipynb
Labels: cla: yes, ja, lgtm, translation

#195 [JA] Update site/ja/tutorials/text/text_classification_rnn.ipynb
  site/ja/tutorials/text/text_classification_rnn.ipynb
Labels: cla: yes, ja, lgtm, translation

#196 [JA] Update site/ja/tutorials/text/transformer.ipynb
  site/ja/tutorials/text/transformer.ipynb
Labels: cla: yes, lgtm

#190 [JA] Update /site/ja/guide/function.ipynb
  site/ja/guide/function.ipynb
Labels: cla: yes, ja, lgtm, translation

#194 [JA] Update site/ja/tutorials/load_data/text.ipynb
  site/ja/tutorials/load_data/text.ipynb
Labels: cla: yes, ja, lgtm, translation

#189 [MRG][ar] Translation of tutorials/keras/overfit_and_underfit tutorial into Arabic
  site/ar/tutorials/keras/overfit_and_underfit.ipynb
Labels: ar, cla: yes, lgtm, translation

#211 .result（）to .result()
  site/zh-cn/tutorials/distribute/custom_training.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#213 zh_cn: updating /tutorials/estimator/boosted_trees_model_understanding.ipynb
  site/zh-cn/tutorials/estimator/boosted_trees_model_understanding.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#215 [KO] Translation of deepdream.ipynb
  site/ko/tutorials/generative/deepdream.ipynb
Labels: cla: yes, ko, lgtm, translation
