Repository tensorflow/docs-l10n, pull requests merged in 2020-08, with the labels that each got.

#288 [vi] tutorials/load_data/text.ipynb
  site/vi/tutorials/load_data/text.ipynb
Labels: cla: yes

#298 Add workflow for community lgtm label
  .github/workflows/bot-label-lgtm.yaml
Labels: cla: yes

#299 Better comments in workflows
  .github/workflows/bot-label-lgtm.yaml
  .github/workflows/bot-pr-fix.yaml
  .github/workflows/bot-pr-new.yaml
  .github/workflows/ci.yaml
  .github/workflows/ja.yaml
Labels: cla: yes

#174 [it] community-contribute-index.md
  site/it/community/contribute/index.md
Labels: cla: yes, it, lgtm, translation

#202 [it] community-contribute-community.md Basic translation
  site/it/community/contribute/community.md
Labels: cla: yes, it, lgtm, translation

#203 [it] community-contribute-docs ref.md Basic translation
  site/it/community/contribute/docs_ref.md
Labels: cla: yes, it, lgtm, translation

#208 [it] Readme.md Added words
  site/it/README.md
Labels: cla: yes, it, lgtm, translation

#206 [it] tutorials-keras-save_and_load.ipynb Translation
  site/it/tutorials/keras/save_and_load.ipynb
Labels: cla: yes, it, lgtm, translation

#207 [it] tutorials-keras-text_classification_with_hub.ipynb Basic translation
  site/it/tutorials/keras/text_classification_with_hub.ipynb
Labels: cla: yes, it, lgtm, translation

#205 [it] tutorials-keras-overfit_and_underfit.ipynb Reviewed translation
  site/it/tutorials/keras/overfit_and_underfit.ipynb
Labels: cla: yes, it, lgtm, translation

#204 [it] tutorials-keras-text_classification.ipynb basic translation
  site/it/tutorials/keras/text_classification.ipynb
Labels: cla: yes, it, lgtm, translation

#304 Add CI check that translation source exists
  .github/workflows/ci.yaml
Labels: cla: yes, lgtm

#305 Auto-label vendor reviewed translations
  .github/workflows/bot-label-lgtm.yaml
Labels: cla: yes, lgtm

#331 nblint fixes for site path
  site/zh-cn/guide/advanced_autodiff.ipynb
  site/zh-cn/guide/checkpoint.ipynb
  site/zh-cn/guide/data_performance.ipynb
Labels: cla: yes, lgtm, zh-cn
