Repository tensorflow/docs-l10n, pull requests merged in 2020-07, with the labels that each got.

#269 Add ilyaspiridonov as RU reviewer
  site/ru/REVIEWERS
Labels: cla: yes, lgtm, ru, translation

#270 nbfmt all the things
  site/ko/guide/function.ipynb
  site/ko/guide/migrate.ipynb
  site/ko/tutorials/images/segmentation.ipynb
  site/ko/tutorials/keras/text_classification_with_hub.ipynb
  site/ko/tutorials/text/text_generation.ipynb
Labels: cla: yes, ko, lgtm, translation

#157 Translate the introduction of /guide/eager.ipynb
  site/vi/guide/eager.ipynb
Labels: cla: yes, lgtm, translation, vi

#271 Source snapshot: Mon Jul 6 14:42:34 PDT 2020
  site/en-snapshot/README.md
  site/en-snapshot/agents/tutorials/3_policies_tutorial.ipynb
  site/en-snapshot/community/contribute/tests.md
  site/en-snapshot/federated/tutorials/federated_learning_for_image_classification.ipynb
  site/en-snapshot/guide/advanced_autodiff.ipynb
  site/en-snapshot/guide/autodiff.ipynb
  site/en-snapshot/guide/distributed_training.ipynb
  site/en-snapshot/guide/migrate.ipynb
  site/en-snapshot/hub/caching.md
  site/en-snapshot/hub/common_issues.md
  site/en-snapshot/hub/installation.md
  site/en-snapshot/hub/tf1_hub_module.md
  site/en-snapshot/hub/tf2_saved_model.md
  site/en-snapshot/hub/tutorials/cross_lingual_similarity_with_tf_hub_multilingual_universal_encoder.ipynb
  site/en-snapshot/hub/tutorials/image_enhancing.ipynb
  site/en-snapshot/io/tutorials/audio.ipynb
  site/en-snapshot/lite/guide/ops_select.md
  site/en-snapshot/lite/performance/gpu_advanced.md
  site/en-snapshot/lite/performance/post_training_integer_quant.ipynb
  site/en-snapshot/swift/tutorials/model_training_walkthrough.ipynb
  site/en-snapshot/tensorboard/dataframe_api.ipynb
  site/en-snapshot/tfx/tutorials/tfx/components_keras.ipynb
  site/en-snapshot/tutorials/distribute/input.ipynb
  site/en-snapshot/tutorials/keras/regression.ipynb
Labels: cla: yes, en-snapshot, lgtm, translation

#272 Use tensorflow-docs package for nbfmt in CI
  .github/workflows/ci.yaml
Labels: cla: yes, lgtm

#276 Update REVIEWERS
  site/ru/REVIEWERS
Labels: cla: yes, lgtm, ru, translation

#66 RU: Translation for guide/eager.ipynb
  site/ru/guide/eager.ipynb
Labels: cla: yes, lgtm, ru, translation

#182 [vi] tutorials/text/word_embeddings
  site/vi/tutorials/text/word_embeddings.ipynb
Labels: cla: yes, lgtm, translation, vi
