Repository tensorflow/docs-l10n, pull requests merged in 2020-03, with the labels that each got.

#101 [it] Tutorial-keras-regression.ipynb translation
  site/it/tutorials/keras/regression.ipynb
Labels: cla: yes, it, kokoro:force-run, lgtm, translation

#106 [vi] Request to be added as reviewer
  site/vi/REVIEWERS
Labels: cla: yes, kokoro:force-run, lgtm, translation, vi

#105 [KO] Request to be added as reviewer
  site/ko/REVIEWERS
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation

#4 JA: add site/ja/tutorials/text/transformer.ipynb
  site/ja/tutorials/text/transformer.ipynb
Labels: cla: yes, ja, kokoro:force-run, lgtm, translation

#107 [KO] Add missed section description in function.ipynb
  site/ko/guide/function.ipynb
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation

#109 Add gitignore
  .gitignore
Labels: cla: yes, kokoro:force-run, lgtm

#110 Add ar/REVIEWERS file
  site/ar/REVIEWERS
Labels: ar, cla: yes, translation

#67 RU: Translation for guide/variable.ipynb
  site/ru/guide/variable.md
Labels: cla: yes, kokoro:force-run, lgtm, ru, translation

#111 [KO] Clarify translation guideline
  site/ko/README.md
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation

#83 [ko] tutorials/distribute/save_and_load
  site/ko/tutorials/distribute/save_and_load.ipynb
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation

#42 KO : fix typo tutorials/images/transfer_learning_with_hub.ipynb
  site/ko/tutorials/images/transfer_learning_with_hub.ipynb
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation

#112 [KO] Unified header across all docs
  site/ko/guide/checkpoint.ipynb
  site/ko/guide/data_performance.ipynb
  site/ko/guide/distributed_training.ipynb
  site/ko/guide/eager.ipynb
  site/ko/guide/effective_tf2.md
  site/ko/guide/function.ipynb
  site/ko/guide/gpu.ipynb
  site/ko/guide/keras/index.md
  site/ko/guide/keras/overview.ipynb
  site/ko/guide/migrate.ipynb
  site/ko/guide/ragged_tensor.ipynb
  site/ko/guide/saved_model.ipynb
  site/ko/guide/tensor.md
  site/ko/guide/upgrade.md
  site/ko/guide/variable.md
  site/ko/guide/versions.md
  site/ko/swift/python_interoperability.ipynb
  site/ko/swift/tutorials/raw_tensorflow_operators.ipynb
  site/ko/tutorials/customization/autodiff.ipynb
  site/ko/tutorials/customization/basics.ipynb
  site/ko/tutorials/customization/custom_layers.ipynb
  site/ko/tutorials/customization/custom_training.ipynb
  site/ko/tutorials/customization/custom_training_walkthrough.ipynb
  site/ko/tutorials/distribute/custom_training.ipynb
  site/ko/tutorials/distribute/keras.ipynb
  site/ko/tutorials/distribute/multi_worker_with_estimator.ipynb
  site/ko/tutorials/distribute/multi_worker_with_keras.ipynb
  site/ko/tutorials/estimator/linear.ipynb
  site/ko/tutorials/generative/dcgan.ipynb
  site/ko/tutorials/generative/style_transfer.ipynb
  site/ko/tutorials/images/cnn.ipynb
  site/ko/tutorials/images/segmentation.ipynb
  site/ko/tutorials/images/transfer_learning_with_hub.ipynb
  site/ko/tutorials/keras/classification.ipynb
  site/ko/tutorials/keras/overfit_and_underfit.ipynb
  site/ko/tutorials/keras/regression.ipynb
  site/ko/tutorials/keras/save_and_load.ipynb
  site/ko/tutorials/keras/text_classification.ipynb
  site/ko/tutorials/keras/text_classification_with_hub.ipynb
  site/ko/tutorials/load_data/unicode.ipynb
  site/ko/tutorials/quickstart/advanced.ipynb
  site/ko/tutorials/quickstart/beginner.ipynb
  site/ko/tutorials/structured_data/feature_columns.ipynb
  site/ko/tutorials/text/text_generation.ipynb
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation

#113 [KO]: Fix error tfds.load()
  site/ko/tutorials/keras/text_classification_with_hub.ipynb
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation

#116 Become a reviewer of tensorflow Arabic documentation
  site/ar/REVIEWERS
Labels: ar, cla: yes, kokoro:force-run, lgtm, translation

#120 Update REVIEWERS - site/ar
  site/ar/REVIEWERS
Labels: ar, cla: yes, kokoro:force-run, lgtm, translation

#117 zh-cn: fixing zh-cn/tutorials/distribute/keras.ipynb using nb_code_sync
  site/zh-cn/tutorials/distribute/keras.ipynb
Labels: cla: yes, kokoro:force-run, lgtm, translation, zh-cn

#133 Add tayciryahmed as reviewer
  site/ar/REVIEWERS
Labels: ar, cla: yes, lgtm, translation

#122 [MRG] Add Arabic translation of tutorials/quickstart/advanced notebook
  site/ar/tutorials/quickstart/advanced.ipynb
Labels: ar, cla: yes, lgtm, translation

#135 [ar] update button links
  site/ar/tutorials/quickstart/advanced.ipynb
Labels: ar, cla: yes, translation

#121 [MRG] Add Arabic translation of tutorials/quickstart/beginner
  site/ar/tutorials/quickstart/beginner.ipynb
Labels: ar, cla: yes, lgtm, translation

#125 KO : translate site/ko/guide/random_numbers.ipynb
  site/ko/guide/random_numbers.ipynb
Labels: cla: yes, ko, lgtm, translation

#148 Remove CI using GitHub Actions
  .github/workflows/ci.yaml
Labels: cla: yes, lgtm

#149 Move nb_code_sync.py
  tools/nb_code_sync.py
Labels: cla: yes

#151 Remove tf-nightly-2.0-preview
  site/ko/tutorials/keras/overfit_and_underfit.ipynb
  site/ko/tutorials/keras/text_classification.ipynb
  site/ko/tutorials/structured_data/feature_columns.ipynb
Labels: cla: yes, ko, lgtm, translation

#143 [ar][MRG] Add Arabic translation of tensorflow/tutorials/keras/classification
  site/ar/tutorials/keras/classification.ipynb
Labels: ar, cla: yes, lgtm, translation

#150 zh-cn: fixing tutorials/keras/save_and_load.ipynb using nb_code_sync
  site/zh-cn/tutorials/keras/save_and_load.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#142 Arabic translation of tutorials/text/nmt_with_attention.ipynb
  site/ar/tutorials/text/nmt_with_attention.ipynb
Labels: ar, cla: yes, lgtm, translation

#159 Add nbfmt to GitHub CI tests
  .github/workflows/ci.yaml
Labels: cla: yes, lgtm

#156 [zh-cn] add reviewer
  site/zh-cn/REVIEWERS
Labels: cla: yes, lgtm, translation, zh-cn

#70 zh-CN: tensorboard/r1/summaries.md
  site/zh-cn/install/gpu.md
Labels: cla: yes, lgtm, translation, zh-cn

#52 zh-CN: translated datasets/add_dataset.md
  site/zh-cn/datasets/add_dataset.md
Labels: cla: yes, kokoro:force-run, lgtm, translation, zh-cn

#119 zh-CN: fixing zh-cn/tutorials/generative/style_transfer.ipynb using nb_code_sync
  site/zh-cn/tutorials/generative/style_transfer.ipynb
Labels: cla: yes, kokoro:force-run, lgtm, translation, zh-cn

#118 zh-cn: fixing zh-cn/tutorials/distribute/multi_worker_with_keras.ipynb using nb_code_sync
  site/zh-cn/tutorials/distribute/multi_worker_with_keras.ipynb
Labels: cla: yes, kokoro:force-run, lgtm, translation, zh-cn

#124 [zh_cn] tutorials/estimator/boosted_trees_model_understanding.ipynb
  site/zh-cn/tutorials/estimator/boosted_trees_model_understanding.ipynb
Labels: cla: yes, kokoro:force-run, lgtm, translation, zh-cn

#160 nbfmt: all
  site/ar/tutorials/text/nmt_with_attention.ipynb
Labels: ar, cla: yes, translation
