Repository tensorflow/docs-l10n, pull requests merged in 2020-12, with the labels that each got.

#456 typo
  site/ru/tutorials/keras/classification.ipynb
Labels: cla: yes, ru

#457 translate basic_training_loops.ipynb into Chinese
  site/zh-cn/guide/basic_training_loops.ipynb
Labels: cla: yes

#447 [KO] : Translation of nmt_with_attention.ipynb
  site/ko/tutorials/text/nmt_with_attention.ipynb
Labels: cla: yes, lgtm

#433 Update migrate.ipynb
  site/ko/guide/migrate.ipynb
Labels: cla: yes, ko

#446 translation imbalanced_data EN->KO
  site/ko/tutorials/structured_data/imbalanced_data.ipynb
Labels: cla: yes
