Repository tensorflow/docs-l10n, pull requests merged in 2020-09, with the labels that each got.

#335 Update snapshot-source script
  tools/snapshot-source.sh
Labels: cla: yes

#341 Fix bot workflows for deleted files
  .github/workflows/bot-pr-fix.yaml
  .github/workflows/ci.yaml
Labels: cla: yes

#345 Fix nbfmt check
  .github/workflows/ci.yaml
Labels: cla: yes

#332 Fixed translation error
  site/zh-cn/tutorials/images/cnn.ipynb
Labels: cla: yes

#358 nbfmt
  site/zh-cn/guide/distributed_training.ipynb
  site/zh-cn/guide/eager.ipynb
  site/zh-cn/guide/estimator.ipynb
  site/zh-cn/guide/function.ipynb
  site/zh-cn/guide/gpu.ipynb
  site/zh-cn/guide/graph_optimization.ipynb
  site/zh-cn/guide/keras/custom_layers_and_models.ipynb
  site/zh-cn/guide/keras/masking_and_padding.ipynb
  site/zh-cn/guide/keras/rnn.ipynb
  site/zh-cn/guide/keras/save_and_serialize.ipynb
  site/zh-cn/guide/keras/train_and_evaluate.ipynb
  site/zh-cn/guide/mixed_precision.ipynb
  site/zh-cn/guide/random_numbers.ipynb
  site/zh-cn/tutorials/estimator/keras_model_to_estimator.ipynb
  site/zh-cn/tutorials/generative/pix2pix.ipynb
Labels: cla: yes, zh-cn

#359 snapshot-source use https
  tools/snapshot-source.sh
Labels: cla: yes

#360 snapshot-source: Ignore commit if no docs changes.
  tools/snapshot-source.sh
Labels: cla: yes, lgtm

#363 snapshot-source: add format option
  tools/snapshot-source.sh
Labels: cla: yes

#295 [ko] text_classification_with_hub.ipynb tranlation
  site/ko/tutorials/keras/text_classification_with_hub.ipynb
Labels: cla: yes, ko

#290 [ko] Update supported tf.distribute.Strategy in Korean (#289)
  site/ko/guide/distributed_training.ipynb
Labels: cla: yes

#367 Add nightly bot workflow to snapshot source.
  .github/workflows/bot-nightly.yaml
Labels: cla: yes, lgtm

#371 Exclude TensorBoard design docs from snapshot
  tools/snapshot-source.sh
Labels: cla: yes

#374 Source snapshot: Wed Sep 16 13:39:29 PDT 2020
  site/en-snapshot/README.md
  site/en-snapshot/guide/saved_model.ipynb
  site/en-snapshot/tensorboard/design/colab_integration.md
  site/en-snapshot/tensorboard/design/generic_data_apis.md
  site/en-snapshot/tensorboard/design/generic_data_auth.md
  site/en-snapshot/tensorboard/design/generic_data_ingestion.md
  site/en-snapshot/tensorboard/design/route_namespaced_state.md
  site/en-snapshot/tutorials/images/transfer_learning.ipynb
  site/en-snapshot/tutorials/structured_data/feature_columns.ipynb
  site/en-snapshot/tutorials/structured_data/preprocessing_layers.ipynb
Labels: cla: yes, en-snapshot

#377 Add note about community languages
  README.md
Labels: cla: yes

#69 KO: Fixed conv2d output shape
  site/ko/tutorials/images/cnn.ipynb
Labels: cla: yes, ko, lgtm, translation

#39 Update function.ipynb
  site/ko/guide/function.ipynb
Labels: cla: yes, ko, lgtm, translation

#43 KO : translation for tutorials/images/transfer_learning.ipynb
  site/ko/tutorials/images/transfer_learning.ipynb
Labels: cla: yes, ko, translation

#131 zh-cn: fixing zh-cn/tutorials/images/segmentation.ipynb using nb_code_sync
  site/zh-cn/tutorials/images/segmentation.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#65 zh-CN: tensorboard_profiling_keras.ipynb
  site/zh-cn/tensorboard/tensorboard_profiling_keras.ipynb
Labels: cla: yes, lgtm, translation, zh-cn

#255 JA: Add ja/lite/g3doc/performance/post_training_integer_quant.ipynb
  site/ja/lite/performance/post_training_integer_quant.ipynb
Labels: cla: yes, ja, lgtm, translation

#7 RU: Translation for guide/keras/custom_layers_and_models.ipynb
  site/ru/guide/keras/custom_layers_and_models.ipynb
Labels: cla: yes, lgtm, ru, translation

#34 RU: Translation for guide/keras/save_and_serialize.ipynb
  site/ru/guide/keras/save_and_serialize.ipynb
Labels: cla: yes, ru, translation

#29 RU: Translation for guide/keras/train_and_evaluate.ipynb
  site/ru/guide/keras/train_and_evaluate.ipynb
Labels: cla: yes, ru, translation

#58 RU: Translation for guide/keras/custom_callback.ipynb
  site/ru/guide/keras/custom_callback.ipynb
Labels: cla: yes, ru, translation

#40 RU: Translation for guide/keras/rnn.ipynb
  site/ru/guide/keras/rnn.ipynb
Labels: cla: yes, ru, translation

#46 RU: Translation for guide/keras/masking_and_padding.ipynb
  site/ru/guide/keras/masking_and_padding.ipynb
Labels: cla: yes, ru, translation

#15 add keras/regression ipynb indonesian translation
  site/id/tutorials/keras/regression.ipynb
Labels: cla: yes, id, lgtm, translation

#16 add keras/overfit_and_underfit.ipynb indonesian translation
  site/id/tutorials/keras/overfit_and_underfit.ipynb
Labels: cla: yes, id, lgtm, translation

#17 add keras/save_and_load.ipynb indonesian translation
  site/id/tutorials/keras/save_and_load.ipynb
Labels: cla: yes, id, translation

#18 add keras/text_classification.ipynb indonesian translation
  site/id/tutorials/keras/text_classification.ipynb
Labels: cla: yes, id, translation

#20 add load_data/images.ipynb indonesian translation
  site/id/tutorials/load_data/images.ipynb
Labels: cla: yes, id, translation

#21 add load_data/numpy.ipynb indonesian translation
  site/id/tutorials/load_data/numpy.ipynb
Labels: cla: yes, id, translation

#22 add load_data/pandas_dataframe.ipynb indonesian translation
  site/id/tutorials/load_data/pandas_dataframe.ipynb
Labels: cla: yes, id, translation

#23 add load_data/text.ipynb indonesian translation
  site/id/tutorials/load_data/text.ipynb
Labels: cla: yes, id, translation

#24 add load_data/tfrecord.ipynb indonesian translation
  site/id/tutorials/load_data/tfrecord.ipynb
Labels: cla: yes, id, translation

#25 add load_data/unicode.ipynb indonesian translation
  site/id/tutorials/load_data/unicode.ipynb
Labels: cla: yes, id, translation

#35 quickstart beginner in portuguese
  site/pt-br/tutorials/quickstart/beginner.ipynb
Labels: cla: yes, pt, translation

#1 Transfer learning with TF Hub Tutorial in Portuguese
  site/pt-br/tutorials/images/transfer_learning_with_hub.ipynb
Labels: cla: yes, pt, translation

#8 Transfer learning ConvNet Tutorial in Portuguese
  site/pt-br/tutorials/images/transfer_learning.ipynb
Labels: cla: yes, pt, translation

#26 Image Segmentation Tutorial in Portuguese
  site/pt-br/tutorials/images/segmentation.ipynb
Labels: cla: yes, pt, translation

#27 word embeddings tutorial in Portuguese
  site/pt-br/tutorials/text/word_embeddings.ipynb
Labels: cla: yes, pt, translation

#36 quickstart advanced in portuguese
  site/pt-br/tutorials/quickstart/advanced.ipynb
Labels: cla: yes, pt, translation

#56 PT: load numpy data
  site/pt-br/tutorials/load_data/numpy.ipynb
Labels: cla: yes, pt, translation

#55 load data in csv tutorial in portuguese
  site/pt-br/tutorials/load_data/csv.ipynb
Labels: cla: yes, pt, translation

#57 PT: load a pandas.dataframe tutorial
  site/pt-br/tutorials/load_data/pandas_dataframe.ipynb
Labels: cla: yes, pt, translation

#388 Update snapshot location for Keras guides
  tools/snapshot-source.sh
Labels: cla: yes

#389 Clean up GitLocalize excludes
  .gitlocalize.yml
Labels: cla: yes
