Repository tensorflow/docs-l10n, pull requests merged in 2020-02, with the labels that each got.

#30 Greek translation
  site/el/README.md
  site/el/REVIEWERS
  site/el/guide/keras/index.md
  site/el/guide/keras/masking_and_padding.ipynb
  site/el/guide/keras/overview.ipynb
Labels: cla: yes, el, kokoro:force-run, lgtm, translation

#48 IT: README.md - Added: blog, contributor, maintainer, pull request, repository, socia…
  site/it/README.md
Labels: cla: yes, it, kokoro:force-run, lgtm, translation

#51 IT: Readme.md - Added words (callback)
  site/it/README.md
Labels: cla: yes, it, kokoro:force-run, lgtm, translation

#59 Add 'do not translate' file for ja|ko|zh-cn install directory
  site/ja/install/DO_NOT_TRANSLATE
  site/ko/install/DO_NOT_TRANSLATE
  site/zh-cn/install/DO_NOT_TRANSLATE
  site/zh-cn/install/source_rpi.md
Labels: cla: yes, ja, ko, kokoro:force-run, lgtm, translation, zh-cn

#61 Remove links to gitter chat
  site/ja/README.md
  site/zh-cn/community/contribute/docs.md
Labels: cla: yes, ja, kokoro:force-run, lgtm, translation, zh-cn

#63 Do not translate guidance
  README.md
  site/README.md
  site/ja/README.md
  site/ko/README.md
  site/zh-cn/README.md
Labels: cla: yes, ja, ko, kokoro:force-run, lgtm, translation, zh-cn

#41 PT: Translations for tensorflowjs guide to portuguese
  site/pt/js/guide/conversion.md
  site/pt/js/guide/index.md
  site/pt/js/guide/layers_for_keras_users.md
  site/pt/js/guide/models_and_layers.md
  site/pt/js/guide/nodejs.md
  site/pt/js/guide/platform_environment.md
  site/pt/js/guide/save_load.md
  site/pt/js/guide/tensors_operations.md
  site/pt/js/guide/train_models.md
Labels: cla: yes, kokoro:force-run, lgtm, pt, translation

#81 Update Transformer URLs after model repo reorganization
  site/ko/guide/distributed_training.ipynb
  site/ko/tutorials/distribute/keras.ipynb
  site/zh-cn/tutorials/distribute/keras.ipynb
Labels: cla: yes, ko, kokoro:force-run, lgtm, translation, zh-cn

#96 Update top-level readme and do-not-translate list
  README.md
  site/README.md
Labels: cla: yes, kokoro:force-run, lgtm
