Repository tensorflow/docs-l10n, pull requests merged in 2021-11, with the labels that each got.

#563 Updated to stable from experimental
  site/zh-cn/guide/gpu.ipynb
Labels: zh-cn, cla: yes

#564 Update tf2_image_retraining.ipynb
  site/ja/hub/tutorials/tf2_image_retraining.ipynb
Labels: ja, cla: yes

#565 Replacing the depreciated package
  site/ko/tutorials/customization/custom_layers.ipynb
Labels: ko, cla: yes

#566 Update incorrect version
  site/ko/lite/performance/hexagon_delegate.md
Labels: ko, cla: yes

#568 Update beginner.ipynb
  site/ko/tutorials/quickstart/beginner.ipynb
Labels: ko, cla: yes

#569 Update codeowners for notifications
  CODEOWNERS
Labels: cla: yes
