Repository tensorflow/docs-l10n, pull requests merged in 2021-01, with the labels that each got.

#461 Update the colab link.
  site/zh-cn/tensorboard/fairness-indicators.md
Labels: cla: yes, zh-cn

#462 snapshot: Use 'main' branch for swift
  tools/snapshot-source.sh
Labels: cla: yes

#464 typo
  site/ko/tutorials/images/transfer_learning.ipynb
Labels: cla: yes, ko

#469 Gitlocalize 13311
  site/ko/guide/keras/masking_and_padding.ipynb
  site/ko/model_optimization/guide/quantization/training_example.ipynb
  site/ko/tutorials/keras/keras_tuner.ipynb
Labels: cla: yes, ko

#470 Gitlocalize 13312
  site/ko/model_optimization/guide/clustering/clustering_comprehensive_guide.ipynb
  site/ko/model_optimization/guide/clustering/clustering_example.ipynb
  site/ko/model_optimization/guide/quantization/training_comprehensive_guide.ipynb
  site/ko/neural_structured_learning/tutorials/adversarial_keras_cnn_mnist.ipynb
  site/ko/neural_structured_learning/tutorials/graph_keras_lstm_imdb.ipynb
  site/ko/neural_structured_learning/tutorials/graph_keras_mlp_cora.ipynb
  site/ko/swift/tutorials/custom_differentiation.ipynb
  site/ko/swift/tutorials/model_training_walkthrough.ipynb
  site/ko/tutorials/load_data/images.ipynb
Labels: cla: yes, ko

#471 Gitlocalize 13347
  site/ja/io/tutorials/bigquery.ipynb
Labels: cla: yes, ja

#473 Notebook status: Fri, 15 Jan 2021 17:06:59 GMT
  site/es-419/FAILURES.md
  site/ja/FAILURES.md
  site/ko/FAILURES.md
  site/pt-br/FAILURES.md
  site/zh-cn/FAILURES.md
Labels: cla: yes, es-419, ja, ko, pt-BR, zh-cn

#474 ko: Match en notebook for addons
  site/ko/addons/tutorials/average_optimizers_callback.ipynb
Labels: cla: yes, ko

#475 Update colab links.
  site/ko/tfx/guide/fairness_indicators.md
Labels: cla: yes, ko
